{% if def_data_csv %}
	<a id="exportPsudoLink" href="" target="stealthFrame" class="visually-hidden"></a>
    <iframe name="stealthFrame" class="visually-hidden" onload="setTimeout(function(){ defreez(); }, 10000);"></iframe>
	<script>
		function getData_CSV(url){ console.log(url);
          {% comment %}{% endcomment %}
          freez();
          $.ajax({
              type: 'HEAD',
              url: url,
              crossDomain: true,
              dataType: 'csv',
              error: function(xhr) {
                console.log(xhr);
                if(xhr.status == 404 || xhr.status == 406)
                  show_message4('Error in exporting or no report available.',false);
                else if(5 == parseInt(xhr.status/100))
                  show_message4('Server error occured.',false);
                else if(xhr.status == 200)
                  defreez();
              },
              timeout: 10000,
              success: function(){ defreez(); },
              complete: function () {
                setTimeout(function(){ defreez(); },500);
              }
          });
          $('#exportPsudoLink').attr('href', url)[0].click();
          
//           location.assign(url);                        
        }
    </script>
{% endif %}

{% if def_admin_nav %}
	{%- include "get-url-param" -%}

    <div class="wrapper text-center admin-tab" style="background-color: #428ecb; padding:8px; position:absolute; left:0; right:0;">
      <a href="{%- assign current_link = '/account?view=admin-orders' -%}{{ current_link }}"><small class="w3-medium w3-text-white {% unless pageUrl contains current_link %}w3-opacity w3-hover-opacity-off{% endunless %} w3-padding-left w3-padding-right"><span class="small--hide {% if pageUrl contains current_link %}w3-bold{% endif %}">Orders</span><i class="fa fa-shopping-cart {% if pageUrl contains current_link %}fa-2x{% else %}fa-lg{% endif %} large--hide medium--hide" {% unless pageUrl contains current_link %}style="position:relative; bottom:5px;"{% endunless %}></i></small></a>
      <a href="{%- assign current_link = '/account?view=admin-employees' -%}{{ current_link }}"><small class="w3-medium w3-text-white {% unless pageUrl contains current_link %}w3-opacity w3-hover-opacity-off{% endunless %} w3-padding-left w3-padding-right"><span class="small--hide {% if pageUrl contains current_link %}w3-bold{% endif %}">Employees</span><i class="fa fa-users {% if pageUrl contains current_link %}fa-2x{% else %}fa-lg{% endif %} large--hide medium--hide" {% unless pageUrl contains current_link %}style="position:relative; bottom:5px;"{% endunless %}></i></small></a>
      {% comment %}<a href="{%- assign current_link = '/account?view=admin-giftcodes' -%}{{ current_link }}"><small class="w3-medium w3-text-white {% unless pageUrl contains current_link %}w3-opacity w3-hover-opacity-off{% endunless %} w3-padding-left w3-padding-right"><span class="small--hide {% if pageUrl contains current_link %}w3-bold{% endif %}">Gift Codes</span><i class="fa fa-gift {% if pageUrl contains current_link %}fa-2x{% else %}fa-lg{% endif %} large--hide medium--hide" {% unless pageUrl contains current_link %}style="position:relative; bottom:5px;"{% endunless %}></i></small></a>{% endcomment %}
      <a href="{%- assign current_link = '/account?view=admin-transactions' -%}{{ current_link }}"><small class="w3-medium w3-text-white {% unless pageUrl contains current_link %}w3-opacity w3-hover-opacity-off{% endunless %} w3-padding-left w3-padding-right"><span class="small--hide {% if pageUrl contains current_link %}w3-bold{% endif %}">Transactions</span><i class="fa fa-exchange {% if pageUrl contains current_link %}fa-2x{% else %}fa-lg{% endif %} large--hide medium--hide" {% unless pageUrl contains current_link %}style="position:relative; bottom:5px;"{% endunless %}></i></small></a>
      <a target="_blank" href="{%- assign current_link = '/admin/gift_cards' -%}{{ current_link }}"><small class="w3-medium w3-text-white {% unless pageUrl contains current_link %}w3-opacity w3-hover-opacity-off{% endunless %} w3-padding-left w3-padding-right"><span class="small--hide {% if pageUrl contains current_link %}w3-bold{% endif %}">Issue Gift Code</span><i class="fa fa-money {% if pageUrl contains current_link %}fa-2x{% else %}fa-lg{% endif %} large--hide medium--hide" {% unless pageUrl contains current_link %}style="position:relative; bottom:5px;"{% endunless %}></i></small></a>
    </div>
{% endif %}

{% if def_back_detection %}
  <input type="hidden" id="refreshed" value="no">
  <script>
    if (!!window.performance && window.performance.navigation.type === 2) {
        // value 2 means "The page was accessed by navigating into the history"
        console.log('Reloading');
        window.location.reload(); // reload whole page

    }            

    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };   

    window.onload=function(){
      var e=document.getElementById("refreshed");
      if(e.value=="no")e.value="yes";
      else{e.value="no";window.location.reload();}
    }
  </script>
{% endif %}

{% if def_required_fallback %}
	(function ($) {

        // check for "required" input support with modernizr
        if (Modernizr.input.required) {

            // do something else

        } else {

            // parse through each required input
            $('form').find('input[required]').each(function () {

                // add a class to each required field with "required" & the input type
                // using the normal "getAttribute" method because jQuery's attr always returns "text"
                $(this).attr('class', 'required ' + this.getAttribute('type')).removeAttr('required');

            });

            // call jQuery validate plugin on each form
            $('form').each(function () {
                $(this).validate();
            });

        } // if required supported

    }(jQuery));
{% endif %}

{% if def_saveToken %}
  {% include 'base64' %}

  <script>
    
    $(document).ready(function(){ 
        $form = $('.form-wrap form').first();
        $form.bind('submit',function(e){
            e.preventDefault();
            e.stopPropagation();
            if(navigator.cookieEnabled)
              setToken("secreToken", Base64.encode($('[name="customer[password]"]').val()), 1);
            else
              bkp($('[name="customer[password]"]').val());
            $form.unbind('submit').submit();
        });
    });
    
    function bkp(value){
      if (typeof(Storage) !== "undefined") {
          localStorage.secreToken = Base64.encode(value);
          // localStorage.secret = value;
          // console.log(localStorage);
      }
    }

    function setToken(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
  </script>
{% endif %}

{% if def_pushToken %}
  {% if customer %} 
  <script>
    if(['{{ shop.url }}/account/login', '{{ shop.url }}/account/activate', '{{ shop.url }}/account/reset'].join(',').indexOf(document.referrer) != -1 && document.referrer != "{{ shop.url }}/" && document.referrer != "" ){
      var $token = (navigator.cookieEnabled) ? geToken("secreToken") : localStorage.secreToken ;
      $.ajax({
          url: '/apps/api/customer/set_token.json',
          type: 'POST',
          data: { 'id': '{{ customer.id }}', 'token': $token },
          success: function(data){
            console.log(data);
            {% comment %}
            if(data.status != undefined && data.status == "200"){
              console.log(data); 
            }else{
              console.log(data);
            }
            {% endcomment %}

          },

          error: function(data){ 
            console.log(data);
          }

        });
    }
    function geToken(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
          }
      }
      return "";
  }
  </script>
  {% endif %}
{% endif %}
