{% unless featured_collection_width %}
  {% assign featured_collection_width = 'small--one-half medium--one-third large--one-sixth' %}
{% endunless %}

{% unless featured_collection_size %}
  {% assign featured_collection_size = '540x' %}
{% endunless %}

{% assign block_settings_product = all_products[block.settings.product] %}

{% if block_settings_product != blank %}
  {% assign collection_image = block.settings.image_alt | default: block_settings_product.featured_image %}
{% else %}
  {% assign collection_image = block.settings.image_alt | default: collections[featured].image | default: collections[featured].products.first.featured_image %}
{% endif %}
<div class="grid-item {{ featured_collection_width }}">
  {% capture collection_title %}{{ block_settings_product.title | default: collections[featured].title | escape }}{% endcapture %}
  <a {% unless comingsoon %}href="{{ block_settings_product.url | default: collections[featured].url }}" title="{% if block_settings_product != blank %}View {{ block_settings_product.title }}{% else %}{{ 'collections.general.link_title' | t: title: collection_title }}{% endif %}" class="featured-box"{% else %}class="featured-box index-collect" style="opacity:1;"{% endunless %} >
    <div class="featured-box--inner">
      <div class="featured-box--image {% unless collection_image == blank %} vertical-middle{% endunless %}">
        {% if featured != blank or block_settings_product %}
          {% if collection_image %}
            {%- assign image = collection_image -%}
            {%- assign max_width = width | plus: 0 -%}
            {%- assign max_height = height | plus: 0 -%}

            {%- include 'image-logic' with width: max_width, height: max_height -%}

            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div id="{{ wrapper_id }}" class="lazyload__image-wrapper no-js" style="max-width: {{ max_width }}px;">
              <div {% if collection_image != blank %}style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"{% endif %}>
                <img class="no-js lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[125, 180, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ collection_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ collection_image.alt | escape }}">
                {% if comingsoon %}
                  <div class="w3-black w3-opacity-max index-coming-soon w3-round" style="position:absolute; top:0; left:0; right:0; bottom:0; margin:2px;"></div>
                  <div class="middleXY text-center w3-xxlarge index-coming-soon w3-bold w3-text-white" style="position:absolute;">Coming Soon</div>
                {% endif %}
              </div>
            </div>
            {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        {% else %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      {% unless collection_image == blank %}
      <noscript>
        <img src="{{ collection_image | img_url: '580x' }}"
          srcset="{{ collection_image | img_url: '580x' }} 1x, {{ collection_image | img_url: '580x', scale: 2 }} 2x"
          alt="{{ collection_image.alt }}" style="opacity:1;">
      </noscript>
      {% endunless %}
    </div>
    <span class="featured-box--title w3-margin-top">{% if collection_title != blank %}{{ collection_title }}{% else %}{{ 'homepage.featured_collection_rows.heading' | t }}{% endif %}</span>
  </a>
</div>
