<div class="grid w3-margin-bottom">
  <div class="grid-item large--one-third medium--hide small--hide">
    &nbsp;
  </div>
  <div class="grid-item large--one-third text-center">
    <h1 class="text-dark-blue w3-bold">Admin Dashboard</h1>
  </div>
  <div class="grid-item large--one-third medium--hide small--hide text-right">
    &nbsp;
  </div>
</div>

{% include "common_code_lib", def_admin_nav: true %}

<div style="height:40px;">&nbsp;</div>

<span class="small--hide1"><br></span>

<div class="grid account-wrapper">

  <div class="grid-item two-thirds1 five-sixths medium-down--one-whole w3-padding-right">
    <h6 class="w3-medium w3-bold text-dark-blue w3-uppercase" style="display: inline-block;">{{ 'All Orders' }}</h6>
    
    <button type="button" class="btn btn--secondary w3-uppercase w3-right w3-small" onclick="getData_CSV('/apps/product-tracking-analytics/get_orders.csv?domain='+shop_domain);"><i class="fa fa-download fa-lg"></i><span class="small--hide">&nbsp; Export CSV</span></button>

    <div class="grid1" style="margin-top: 20px"> 
      <div class="grid-item one-half medium-down--one-whole w3-row filter_form width-100-percent_at_1094" style="position: relative; padding-left: 0;">
        <form action="" class="w3-margin-0" onsubmit="event.preventDefault(); ApplyDate(); $('.reset-btn2').show();" onreset="updateState({ start_date: '', end_date: '', page: '1' }); $('.reset-btn2').hide();">
          <input type="text" id="start-date" class="w3-small start_date w3-col l3 m3 s4 inline-block datepicker" style="height: auto;" readonly="" name="start_date" required="" placeholder="Start Date">
          <div class="w3-col l3 m3 s4 inline-block w3-margin-right w3-small-margin-0" style1="position: relative;">
            <input type="text" id="end-date" class="w3-small end_date datepicker w3-margin-left" style="height: auto;" readonly="" name="end_date" required="" placeholder="End Date">
          </div>
          <div class="w3-col l5 m5 s4 inline-block w3-margin-right w3-small-margin-0" style1="position: relative;">
            <button type="submit" class="btn btn--secondary w3-uppercase w3-small w3-margin-left w3-small-margin-01" style="display: inline-block;" title="Apply Date Filter"><i class="fa fa-filter fa-lg"></i><span class="small--hide">&nbsp; Filter</span></button>
            <button type="reset" class="w3-btn w3-transparent w3-text-black w3-padding-0 w3-small reset-btn2 w3-margin-left" title="Clear Date filter" style="display: none; position: absolute1; right: 0px; top:0px; box-shadow: none;"><span class="fa fa-times1 fa-lg w3-xlarge" style="vertical-align: -25%; font-weight: 900;">×</span><span class="small--hide">&nbsp; CLEAR</span></button>
          </div>
        </form>
      </div>
      <div class="grid-item one-half medium-down--one-whole w3-row search_form w3-small-padding-0 width-100-percent_at_1094 text-right small--text-left" style1="width:100%; max-width: 510px">
        <form action="" class="w3-margin-0" onsubmit="event.preventDefault(); updateState({ 'search': $('#search').val(), 'page': 1 });">
          <button type="submit" class="btn btn--secondary w3-uppercase w3-small w3-margin-left w3-small-margin-01 w3-right"><i class="fa fa-search fa-lg"></i><span class="small--hide">&nbsp; Search</span></button>
          <input type="text" class="w3-small inline-block w3-margin-left w3-small-margin-0 w3-col w3-right m7 s8" style="height: auto;" id="search" placeholder="Search Orders by # / Customer Name / Project #" title="Search Orders by # / Customer Name / Project #" onchange="$(this).parent().submit();">
        </form>
      </div>
   </div>
    
    
    <hr class="hr--small border-liter-blue" style="margin-bottom:0px;">


      <table id="order-table" class="full responsive-table" style="display:none;">
        <thead class="small--hide medium-down--hide">
          <tr class="w3-medium">
            <th>{{ 'customer.orders.order_number' | t }}</th>
            <th><span class="th-span">{{ 'customer.orders.date' | t }}</span><div class="btn-group printModeExclude"><button type="button" class="date_asc_btn" title="Sort by Ascending" onclick="updateState({sort_date: 'asc', page: '1'});"><i class="fa fa-caret-up"></i></button><button type="button" class="date_desc_btn" title="Sort by Descending" onclick="updateState({sort_date: 'desc', page: '1'});"><i class="fa fa-caret-down"></i></button></div></th>
            <th>{{ 'Order By' }}</th>
            <th>{{ 'Project Number' }}</th>
            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
            {% comment %}{% endcomment %}<th>{{ "Freight" }}</th>
            <th>{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% capture minus_icon %}<span class="null-placeholder">&nbsp;&nbsp;</span>{% endcapture %}
          
          <tr w3-repeat="orders" class="text-dark-blue w3-medium">
            <td><span class="large--hide medium--hide text-liter-blue">{{ 'customer.orders.order_number' | t }}<br></span><a class="{% raw %}{{ cancelled }}{% endraw %} order_name" href="/account?view=admin-order-detail&name={% raw %}{{ order_name }}{% endraw %}&id={% raw %}{{ shopify_order_id }}{% endraw %}">{% raw %}{{ order_name }}{% endraw %}</a></td>
            <td><span class="large--hide medium--hide text-liter-blue">{{ 'customer.orders.date' | t }}<br></span>{% raw %}{{ shopify_created_at }}{% endraw %}</td>
            <td><span class="large--hide medium--hide text-liter-blue">{{ 'Order By' }}<br></span>{% raw %}{{ customer_name }}{% endraw %}</td>
<!--             <td><span class="large--hide medium--hide text-liter-blue">{{ 'Gift Code' }}<br></span>{% raw %}{{ gift_code }}{% endraw %}</td> -->
            <td style="width:200px;"><span class="large--hide medium--hide text-liter-blue">{{ 'Project Number' }}<br></span>{% raw %}{{ note }}{% endraw %}</td>
            <td class="text_{% raw %}{{ fulfillment_status }}{% endraw %}"><span class="large--hide medium--hide text-liter-blue">{{ 'customer.orders.fulfillment_status' | t }}<br></span>{% raw %}{{ fulfillment_status }}{% endraw %}</td>
            {% comment %}{% endcomment %}<td class="w3-bold"><span class="large--hide medium--hide text-liter-blue">{{ 'Frieght' }}<br></span>{% raw %}${{ total_shipment_price }}{% endraw %}</td>
            <td class="w3-bold"><span class="large--hide medium--hide text-liter-blue">{{ 'customer.orders.total' | t }}<br></span>{% raw %}${{ total_price }}{% endraw %}</td>
          </tr>
          
        </tbody>
      </table>

      <div id="table-style"><style>.date_desc_btn{ color: #2273ba !important; }</style></div>

      <br>
      <div class="grid one-whole per_pageContainer pagination pagination-custom w3-pagination" style="display:none;">
        <div class="grid-item two-thirds small--one-whole small--text-center w3-padding-0">
          <div id="paginationInit" class="w3-margin-top">

          </div>
        </div>
        <div class="grid-item one-third text-right small--one-whole small--text-center">
          <label for="per_page" style="display:inline-block;" class="w3-margin-top">Per Page: &nbsp;</label>
          <select id="per_page" class="per_page w3-margin-top" style="width:72px; display:inline-block; height:auto;" onchange="updateState({page: '1',per_page: this.value}); updatePerPage(this.value);">
            <option value='10'>10</option>
            <option value='20'>20</option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
          </select>
        </div>
      </div>

      <p id="no-data" class="w3-medium w3-margin-top" style="display:none;">{{ 'No Data Found..' }}</p>
    
  </div>

  <div class="grid-item one-third1 one-sixth medium-down--one-whole">
    <h6 class="w3-medium w3-bold text-dark-blue w3-uppercase">{{ 'customer.account.details' | t }}</h6>
    
    <hr class="hr--small border-liter-blue">

    <h3 class="w3-medium">{{ customer.name }}</h3>

    {% if customer.default_address != nil %}
      <p class="w3-medium">
      {{ customer.default_address.address1 }}<br>

      {% if customer.default_address.address2 != "" %}
        {{ customer.default_address.address2 }}<br>
      {% endif %}

      {% if customer.default_address.city != "" %}
        {{ customer.default_address.city }}<br>
      {% endif %}

      {% if customer.default_address.province_code != "" %}
        {{ customer.default_address.province_code | upcase }}<br>
      {% endif %}

      {% if customer.default_address.zip != "" %}
        {{ customer.default_address.zip | upcase }}<br>
      {% endif %}

      {% if customer.default_address.country != "" %}
        {{ customer.default_address.country }}<br>
      {% endif %}

      </p>
    
      <p>
    	{% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}<br>
        {% endif %}
        <span class="text-lite-blue">{{ customer.email }}</span>
      </p>

    {% endif %}

    <p><a href="/account/addresses?view=admin-addresses"><button type="button" class="btn btn--secondary border-lite-blue w3-small"><i class="fa fa-address-book fa-lg"></i>&nbsp; {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</button></a></p>
  </div>

</div>

<script>
  
  var test_data = {"employees":[{"name":"Test Test","last_name":"Test","email":"prashant.b.chaudhari@gmail.com","shopify_customer_id":"507812937788","role_id":"PM","collection_id":1,"doh":"2018-01-01","allowances":[{"allowance_type":"ApparelPM","allowance_amount":150}],"gifts":[]},{"name":"Test Test","last_name":"Test","email":"prashant.b.chaudhari@gmail.com","shopify_customer_id":"508555591740","role_id":"PM","collection_id":1,"doh":"2018-01-01","allowances":[{"allowance_type":"ApparelPM","allowance_amount":150}],"gifts":[]}],"total_orders":2,"per_page":"10","page":"1"};
  
  var uri = new YouAreI(document.location.href);
  query = uri.query_get();
  
  var name = '';
  var role = '';
  var doh = '';
  var manager = '';
  
  var search = (query.search != undefined) ? (query.search = query.search.replace(' ', '+'), (query.search.indexOf('@') != -1) ? query.search.replace(' ', '+') : query.search ) : "";
  
  var start_date = (query.start_date != undefined) ? query.start_date : "";
  var end_date = (query.end_date != undefined) ? query.end_date : ""; //{{'now' | date: '%m/%d/%Y'}}";
  
  var page = (query.page != undefined) ? query.page : "1";
  var per_page = (query.per_page != undefined) ? query.per_page : localStorage.per_page_{{ customer.id }} || "10";
  
  var sort_date = (query.sort_date != undefined) ? query.sort_date : "";;
  var sort_role = '';
  var sort_doh = '';
  var sort_manager = '';
  
  var order_id = "";
  var data = {};
  var orders_data = {};
  var old_update_form_data = '';
  var shop_domain = "{{ shop.permanent_domain }}"; //"pepsigenerations.myshopify.com";
  
  var client_data = {navigator: navigator};
  
  var scroll = false;
  
  updateState(query);
  
  $.get("http://ipinfo.io", function(response) {
      client_data.ip = response.ip;
  }, "jsonp");
  
  function dateInit(){
      $(".datepicker").datepicker({
          showAnim: "drop",
          changeMonth: true,
          changeYear: true,
  //         showButtonPanel: true,
          dateFormat: "mm/dd/yy",
          showOtherMonths: true,
  //         onClose: function(dateText, inst) { 
  //             $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
  //         }
      });
  }
  
  dateInit();
  
  function ApplyDate() {
      var start_date = $("#start-date").val();
      var end_date = $("#end-date").val();
      start_unix = getUnix(start_date, 0);
      end_unix = getUnix(end_date, 1);
      if (start_date === "" || end_date === "") {
          show_message4("Please select start and end dates.", false);
      } else if(start_unix >= end_unix){
          show_message4("Start date must be smaller than End date.", false);
      } else {
          updateState({ start_date: start_date, end_date: end_date, page: '1' });
      }
  }
    
  function getUnix(date, i){
    if(i == 0)
      var newDate = Date.parse(date + " 00:00:00");
    else if(i == 0.5)
      var newDate = Date.parse(date + " 12:00:00");
    else
      var newDate = Date.parse(date + " 24:00:00");
    var date_unix = Math.round(new Date(newDate).getTime()/1000);
    var date_unix = new Date(newDate).getTime();
    
    return date_unix;
    
  }
  
  function updatePerPage(val){
    if (typeof(Storage) !== "undefined") {
      localStorage.per_page_{{ customer.id }} = val;
    }
  }
  
  function toggleOrderBtns(btn , data){ console.log('called-for:', data)
    switch(btn){
      case 'date': if(data == 'asc') $('#table-style').html('<style>.date_asc_btn{ color: #2273ba !important; }</style>'); else $('#table-style').html('<style>.date_desc_btn{ color: #2273ba !important; }</style>'); console.log('called-for:', btn); break;
      case 'name': if(data == 'asc') $('#table-style').html('<style>.name_asc_btn{ color: #ea8221 !important; }</style>'); else $('#table-style').html('<style>.name_desc_btn{ color: #ea8221 !important; }</style>'); console.log('called-for:', btn); break;
      case 'role': if(data == 'asc') $('#table-style').html('<style>.role_asc_btn{ color: #ea8221 !important; }</style>'); else $('#table-style').html('<style>.role_desc_btn{ color: #ea8221 !important; }</style>'); console.log('called-for:', btn); break;
      case 'doh': if(data == 'asc') $('#table-style').html('<style>.doh_asc_btn{ color: #ea8221 !important; }</style>'); else $('#table-style').html('<style>.doh_desc_btn{ color: #ea8221 !important; }</style>'); console.log('called-for:', btn); break;
      case 'manager': if(data == 'asc') $('#table-style').html('<style>.manager_asc_btn{ color: #ea8221 !important; }</style>'); else $('#table-style').html('<style>.manager_desc_btn{ color: #ea8221 !important; }</style>'); console.log('called-for:', btn); break;
    }
  }
  
  function updateState(param){
      if(param.search != undefined)data.search = param.search; else if(search.length != 0)data.search = search;
      if(param.start_date != undefined){data.start_date = param.start_date; }else if(start_date.length != 0){ data.start_date = start_date; }
      if(param.end_date != undefined){data.end_date = param.end_date; }else if(end_date.length != 0){ data.end_date = end_date; }
    
      if(param.page != undefined)data.page = param.page; else if(page.length != 0)data.page = page;
      if(param.per_page != undefined)data.per_page = param.per_page; else if(per_page.length != 0)data.per_page = per_page;
    
      if(param.name != undefined)data.name = param.order; else if(name.length != 0)data.name = name;
      if(param.role != undefined)data.role = param.role; else if(role.length != 0)data.role = role;
      if(param.doh != undefined)data.doh = param.doh; else if(doh.length != 0)data.doh = doh;
      if(param.manager != undefined)data.manager = param.manager; else if(manager.length != 0)data.manager = sort_total;
    
      if(param.sort_date != undefined)data.sort_date = param.sort_date; else if(sort_date.length != 0)data.sort_date = sort_date;
    
      fetchOrder(data);     
      
  }
  
  function fetchOrder(data){
    
    page = data.page;
    per_page = data.per_page; $('#per_page option[value="'+data.per_page+'"]').prop('selected', 'selected');
    
    if(data.name != undefined){ name = data.name; if(data.name.length != 0)toggleOrderBtns('name', data.name); }
    if(data.role != undefined){ role = data.role; if(data.role.length != 0)toggleOrderBtns('role', data.role); }
    if(data.doh != undefined){ doh = data.doh; if(data.doh.length != 0)toggleOrderBtns('doh', data.doh); }
    if(data.manager != undefined){ manager = data.manager; if(data.manager.length != 0)toggleOrderBtns('manager', data.manager); }
    
    if(data.search != undefined){ search = data.search; $('#search').val(data.search); (data.search.length) ? $('.reset-btn').show() : $('.reset-btn').hide(); }
    if(data.start_date != undefined){ start_date = data.start_date; $('#start-date').val(data.start_date); (data.start_date.length) ? $('.reset-btn2').show() : $('.reset-btn2').hide(); }
    if(data.end_date != undefined){ end_date = data.end_date; $('#end-date').val(data.end_date); }
    
    if(data.sort_date != undefined){ sort_date = data.sort_date; toggleOrderBtns('date', data.sort_date); }
    
    data = removeEmpty(data);  
    History.pushState({ url: document.location.href }, document.title, '?view={{ template.suffix }}&' + $.param(data) );
    
    try {
      data2 = Object.assign({}, data);
    }catch(e){ data2 = $.extend({}, data); }
    data2.domain = shop_domain; 
    
    freez();
    console.log(data2);
    
    {% comment %} dataSetup(test_data); defreez();  {% endcomment %}  
      $.ajax({
        url: "/apps/product-tracking-analytics/search_btr_orders.json",
        type:'GET',
        data: data2,
        dataType: 'json',
        contentType: 'application/json',
        success:function(data){
          console.log(JSON.stringify(data));
          if(data.message){
              console.log(data.message);
              show_message4(data.message,true);
          }
           else if(data.error){
              console.log(data.error);
              show_message4(data.error,false);
          }
          if(data.orders != undefined){ //&& data.orders.length > 0
        	dataSetup(data);
          }else{
          	$('#order-table, .pagination').hide();
            $('#no-data').show();
          }
          defreez();  
        },
        error:function(data){
          console.log(JSON.stringify(data)); 
          console.log('Some error occured..');
          show_message4('Some error occured..',false);
        }
      });
  }
  
  function dataSetup(data){ 
      var i; 
      var myArray = data['orders'];
      for (i = 0; i < myArray.length; i++) {
        data["orders"][i]["cancelled"] = (data["orders"][i]["cancelled_at"]) ? "cancelled" : "" ;
        if(data["orders"][i]["cancelled_at"]) data["orders"][i]["fulfillment_status"] = "Cancelled";
        if(data["orders"][i]["note"] != null && data["orders"][i]["note"].length > 50)
          data["orders"][i]["note"] = data["orders"][i]["note"].substr(0,49) + "...";
        
      } 
//       console.log(JSON.stringify(data));
  //     return(data);
         populateTable(data);
  }
  
  function populateTable(data){
      orders_data = data;
      w3DisplayData("order-table", data);
      $('#order-table, .pagination').show();
      $('#no-data').hide();
      $("td:contains('{% raw %}{{{% endraw %}'):contains('{% raw %}}}{% endraw %}')").html('{{ minus_icon }}');
      
      if(scroll)
        $('body, html').delay(100).animate({scrollTop: $('table').offset().top-200});
      else
        scroll = true;
    
      {% comment %}{% endcomment %}
      $('#paginationInit').pagination({
          items: data["total_orders"],
          itemsOnPage: data["per_page"],
          hrefTextPrefix: "javascript:updateState({ 'page': '",
          hrefTextSuffix: "'});",
          currentPage: data["page"],
          prevText:'<i class="fa fa-arrow-left"></i>',
          nextText:'<i class="fa fa-arrow-right"></i>',
          listStyle: 'w3-pagination pagination pagination-custom',
          ellipsePageSet: false,
  //         cssStyle: 'light-theme'
      });
    
  }
  
  function removeEmpty(obj) {
    Object.keys(obj).forEach(function(key) {
      if (obj[key] && typeof obj[key] === 'object') removeEmpty(obj[key])
      else if (!obj[key] && obj[key] !== undefined) delete obj[key]
    });
    return obj;
  };
  
  
</script>

{% include "common_code_lib", def_data_csv: true %}

<style>
  .ui-datepicker {
  	z-index: 3 !important;
  }
</style>