{% if collection.handle == "years-of-service-awards" and current_tags.first == blank %}
  {% assign collection_yos_master = true %}
  {% assign collection_products = collection.products | sort: 'type' %}
  {% assign limit = 200 %}
{% else %}
  {% assign collection_products = collection.products %}
  {% assign limit = section.settings.grid | times: section.settings.rows %}
{% endif %}

{% paginate collection.products by limit %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 and section.settings.enable_sidebar %}
  {% assign has_sidebar = true %}
{% endif %}

{% comment %}<script>console.log("menu:{{ linklists['main-menu'].links[3].title }}");</script>{% endcomment %}

<div class="grid grid-border collection-wrapper">

  {% if has_sidebar %}
  <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
    {% include 'collection-sidebar' %}
  </aside>
  {% endif %}

  <div class="grid-item collect-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

    {% comment %}
      Different markup if description is set
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title h1 text-center">{% if current_tags %}{{ collection.title }}{% else %}{{ current_tags.first }}{% endif %}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
      <div class="section-header">
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      {% include "definitions", def_tag: true %}
      {% if current_tags.first contains yos_gift_tag %}
        {% assign collection_title = current_tags.first | remove: yos_gift_tag | plus: 0 %}
        {% capture collection_title %}{{ collection_title | append: "-Year Honor" }}{{ collection.products.count | pluralize: '', 's' }}{% endcapture %}
      {% else %}
        {% assign collection_title = current_tags.first | replace: '-',' ' %}
      {% endif %}

      <h1 class="section-header--title section-header text-center h1 text-dark-blue w3-margin-bottom">{% if current_tags %}{{ collection_title }}{% else %}{{ collection.title }}{% endif %}</h1>
      
      {% comment %}
      <div class="section-header--right">
        {% include 'collection-sorting' %}
        {% include 'collection-views' %}
        {% include 'toggle-filters' %}
      </div>
      {% endcomment %}
    </header>
    {% endif %}

    <div class="grid-uniform{% if collection_yos_master %}1{% endif %}">
    {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'medium--one-half large--one-half' -%}
        {%- assign image_size = '540x600' -%}
        {%- assign width = '540' -%}
        {%- assign height = '600' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'small--one-half medium--one-third large--one-third' -%}
         {%- assign image_size = '345x550' -%}
         {%- assign width = '345' -%}
         {%- assign height = '550' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'small--one-whole medium--one-third large--one-quarter' -%}
        {%- assign image_size = '250x' -%}
        {%- assign width = '250' -%}
        {%- assign height = '225' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'small--one-half medium--one-fifth large--one-fifth' -%}
        {%- assign image_size = '195x' -%}
        {%- assign width = '195' -%}
        {%- assign height = '125' -%}
      {% endcase %}

      
        {% comment %}
        {% if has_sidebar %}
          {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
        {% else %}
          {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
        {% endif %}
        {% endcomment %}
        {% if collection_yos_master == true %}
          
          {% for product in collection_products %}{%- comment %}<locksmith:8cda>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:8cda>{% endcomment -%}{% include 'easylockdown_filter_collection' with product %}

            {% if product.type != old_type %}
              {% assign tier_title = product.type | remove: yos_gift_tag | plus: 0 %}
              {% assign yos_handle = product.type | downcase %}
              {% capture tier_title %}{{ tier_title | append: "-Year Honor" }}{{ collections[yos_handle].products.count | pluralize: '', 's' }}{% endcapture %}
              <div class="grid-uniform">
                <div class="grid-item">
                  <hr style="border-color: transparent; {% if old_type == blank %} margin: 0;{% endif %}">
                  <h4><b>{{ tier_title }}</b></h4>
                  <hr style="margin-top: 0">
                </div>
              </div>
              <div class="grid-uniform">
              {% comment %}
              <div class="grid-item {{ grid_item_width }}"></div>
              <div class="grid-item {{ grid_item_width }}"></div>
              <div class="grid-item {{ grid_item_width }}"></div>
              {% endcomment %}
            {% endif %}

            {% assign old_type = product.type %}

            {% include 'product-grid-item' with grid_item_width %}

            {% assign forloop_index = paginate.current_offset | plus: forloop.index %}

            {% if collection_products[forloop_index].type != product.type %}
              </div>
            {% endif %}

          {% else %}

            <div class="grid-item text-center">
              <br><br>
              <p class="text-lite-blue">{{ 'collections.general.no_matches' | t }}</p>
              <a href="/" class=""><button type="button" class="btn btn--secondary w3-small w3-uppercase"><i class="fa fa-home fa-lg"></i>&nbsp; Back To Home</button></a>
            </div>

          {% endfor %}

        {% else %}
          {% for product in collection.products %}{%- comment %}<locksmith:8cda>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:8cda>{% endcomment -%}{% include 'easylockdown_filter_collection' with product %}
            {% include 'product-grid-item' with grid_item_width %}
          {% else %}

            <div class="grid-item text-center">
              <br><br>
              <p class="text-lite-blue">{{ 'collections.general.no_matches' | t }}</p>
              <a href="/" class=""><button type="button" class="btn btn--secondary w3-small w3-uppercase"><i class="fa fa-home fa-lg"></i>&nbsp; Back To Home</button></a>
            </div>

          {% endfor %}
        {% endif %}


      

    </div>

  </div>

  {% if paginate.pages > 1 %}
  <div class="grid-item">
    <div class="grid">
      <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "class": "collection-template-section",
    "settings": [
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page",
        "default": "6",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "radio",
        "id": "collection_sidebar_filters",
        "label": "Sidebar product filters",
        "options": [
          {
            "value": "tags",
            "label": "By tag"
          },
          {
            "value": "groups",
            "label": "By group"
          }
        ],
        "info": "[Learn how to set up filter groups](https:\/\/help.shopify.com\/manual\/using-themes\/themes-by-shopify\/supply#product-tips-tips-specific)."
      },
      {
        "type": "checkbox",
        "id": "product_show_compare_at_price",
        "label": "Show compare at price",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "product_show_saved_amount",
        "label": "Show saved amount",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_reviews_enable",
        "label": "Enable product reviews",
        "info": "Install the free Shopify [Product Reviews](https:\/\/apps.shopify.com\/product-reviews) app to add product reviews."
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable sidebar",
        "default": true
      }
    ]
  }
{% endschema %}
